.cache/
.cargo/
.electron-gyp/
.gnupg/
.ipython/
.jupyter/
.mozilla/
.mypy_cache/
.npm/
.pki/
.pyenv/
.ssh/
.steam/
.vscode/
.wine/
.yarn/
.zoom/
Documents/Assignment/
Documents/Internship/
Downloads/
Games/
gensim-data/
nltk_data/
Public/
Templates/
Tempo/
Videos/
.local/
track-cache.hive
track-cache.lock
Music/
.config/Code
.config/heroic
Phone/
Pictures/Photos/Banglore/